nav(class="navbar navbar-expand-lg navbar-light bg-light")
    .container-fluid
        .navbar-header
            a.navbar-brand(href="/courses") T de A
            div(class="collapse navbar-collapse")
                .navbar-nav
                    a(class="nav-item nav-link" href="/courses") Cursos
                    a(class="nav-item nav-link" href="/courses/edit") Coordinador
                    a(class="nav-item nav-link" href="/courses/new") Agregar Curso
                    a(class="nav-item nav-link" href="/courses/enrolled") Ver inscriptos

